---
import '../css/blog-card-component.css';
---

<li>
    <article>
        <a href="post-url">
            <header>
                <h3>Post Title</h3>
                <time datetime="2023-02-01">January 1, 2023</time>
            </header>
            <footer>
            <!-- Post tags go here -->
            </footer>
        </a>
    </article>
</li>