---
import TagGroupComponent from "./TagGroupComponent.astro";
import "../css/blog-card-component.css";
---

<li>
    <article class="blog-card">
        <header class="blog-card--header">
            <h3 class="blog-card--title">Building custom websites with HTML, CSS and JS, powered by Astro</h3>
            <time class="blog-card--date" datetime="2023-02-01">May 20, 2023</time>
        </header>
        <footer class="blog-card--footer">
            <TagGroupComponent />
        </footer>
        <a href="post-url" class="blog-card--link"></a>
    </article>
</li>